<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Recognition</title>
</head>
<body>
    <div id="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file-upload">Choose a file:</label>
            <input type="file" id="file-upload" name="uploaded_file" accept="image/*"><br><br>
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
<style>
    
</style>
</html>